<div class="burger-menu montserrat">
    <div class="menu-head">
        <img src="assets/img/logo/logo_main.png" alt="">
        <div (click)="closeMenu()" class="close-menu">X</div>
    </div>
    <div class="spans montserrat">
        <a (click)="closeMenu()" href="#about-me">About me</a>
        <a (click)="closeMenu()" href="#skill-set" class="span-short">Skill set</a>
        <a (click)="closeMenu()" href="#my-work">My work</a>
        <a (click)="closeMenu()" href="#contact">Contact</a>
    </div>
</div>
