<div class="burger-menu montserrat">
    <div class="menu-head">
        <img src="assets/img/logo/logo_main.png" alt="">
        <div (click)="closeMenu()" class="close-menu">X</div>
    </div>
    <div class="spans montserrat">
        <a (click)="closeMenu()" id="burger-about-me-button" href="#about-me">About me</a>
        <a (click)="closeMenu()" id="burger-skill-set-button"  href="#skill-set" class="span-short">Skill set</a>
        <a (click)="closeMenu()" id="burger-my-work-button" href="#my-work">My work</a>
        <a (click)="closeMenu()" id="burger-contact-button" href="#contact">Contact</a>
        <span (click)="translateToEnglish()" class="d-none language-a" id="language-british-burger"><img class="language" src="/assets/img/languages/british.png"></span>
        <span (click)="translateToGerman()" class="language-a" id="language-german-burger"><img class="language" src="/assets/img/languages/german.png"></span>
    
    </div>
</div>
