.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 100px;
    width: 100%;
    max-width: 1800px;
}

.spans{
    display: flex;
    align-items: center;
    gap: 36px;
    font-size: 24px;
    height: 48px;

        >a{
            width: 133px;
            display: flex;
            justify-content: flex-start;
            color: #57E8A2;
            text-decoration: none;

            &:hover{
                font-weight: 800;
                cursor: pointer;
            }
        }
        
}

.language-a{
    width: 48px;
    height: 48px;
    justify-content: center;
    display: flex;
}

.language{
    height: 40px;
    width: auto;
    filter: brightness(0.9);

    &:hover{
        width: 48px;
        height: 48px;
        filter: brightness(1.1);
    }
}

.d-none{
    display: none !important;
}

.span-short{
    width: 102px !important;
}

img{
    height: 69px;
    width: auto;

    &:hover{
        cursor: pointer;
    }
}

@media (max-width: 1500px) {
    .navbar{
        max-width: 750px;
    }

    a{
        color: white !important;
    }
}