<div class="navbar montserrat">
    <div>
        <a routerLink="/">
            <img src="assets/img/logo/logo_white.png" alt="">
        </a>
    </div>
    <div class="spans">
        <a id="about-me-button" routerLink="" fragment="about-me">About me</a>
        <a id="skill-set-button" href="#skill-set" class="span-short">Skill set</a>
        <a id="my-work-button" href="#my-work">My work</a>
        <span class="d-none" id="language-british"><img class="language" (click)="translateToEnglish()" src="/assets/img/languages/british.png"></span>
        <span id="language-german"><img class="language"  (click)="translateToGerman()" src="/assets/img/languages/german.png"></span>
    </div>
</div>