#background-loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    color: #57e8a2;
    margin-top: 20px;
    font-size: 48px;
  }
}

.hidden{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#loading-img {
  animation: spin 2s linear infinite;
  width: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
