<div id="header" class="header-component">
    <app-navbar></app-navbar>
    <div class="dflex">
        <div class="portait-and-spans">
            <div class="div-portait">
                <img class="portait" src="./../../../assets/img/portaits/portait3.png">
                <img class="ellipse-big" src="./../../../assets/img/ellipse.png">
            </div>
            <div class="spans">
                <span class="name montserrat">Hello! I am Jan</span>
                <span class="job baloo">Frontend</span>
                <span class="job baloo">Developer</span>
            </div>
        </div>
        
        <div class="links">
            <div>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/JanFromTheBlock"><img href="https://github.com/JanFromTheBlock" src="./../../../assets/img/buttons/github.png"></a>
            </div>
            <div>
                <a href="#contact"><img src="./../../../assets/img/buttons/mail.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jan-borcholt-ba5129222/"><img src="./../../../assets/img/buttons/linkedIn.png"></a>
            </div>
        </div>
    </div>
   
    <img class="ellipse-small" src="./../../../assets/img/ellipse.png">
</div>