<div class="header-component">
    <app-navbar></app-navbar>
    <img class="ellipse-big" src="./../../../assets/img/ellipse.png">
    <div class="spans">
        <span class="name montserrat">Hello! I am Jan</span>
        <span class="job baloo">Frontend</span>
        <span class="job baloo">Developer</span>
    </div>
    <img class="ellipse-small" src="./../../../assets/img/ellipse.png">
    <div class="links">
        <div>
            <img src="./../../../assets/img/buttons/github.png">
        </div>
        <div>
            <img src="./../../../assets/img/buttons/mail.png">
        </div>
        <div>
            <img src="./../../../assets/img/buttons/linkedIn.png">
        </div>
    </div>
</div>