.header-component{
    background-image: linear-gradient(#FFFFFF, #D7FFEC);
    height: 1028px;
    display: flex;
    justify-content: center;
        .ellipse-big{
            width: 892px;
            height: 892px;
            margin-left: -900px;
            margin-top: -350px;
        }
        .ellipse-small{
            position: absolute;
            height: 206px;
            width: 206px;
            top: 925px;
            left: calc(50% - 103px);
            z-index: 100;
        }
   
}
.spans{
    display: flex;
    flex-direction: column;
    z-index: 99;
    color: #57E8A2;
    font-weight: 400;
    margin-top: 200px;
}
.name{
    font-size: 64px;
    line-height: 64px;
    margin-bottom: -50px;
}
.job{
    font-size: 128px;
    margin-bottom: -100px;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin:  0px 100px 64px 0px;
    justify-content: end;
    align-items: end;
    >div{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: justify-content 5s ease-out;

        &:hover{
            justify-content: flex-start;
        }
        >img{
            width: 30px;
            height: auto;
        }
    }
    
}

app-navbar{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dflex{
    display: flex;
    height: 100%;
    max-width: 1800px;
    width: 100%;
}

.div-portait{
    margin-top: 124px;
    display: flex;

}
.portait-and-spans{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.portait{
    z-index: 99;
    height: 900px;
    width: 768px;
}

@media (max-width: 1500px) {
    .links{
        display: none;
    }

    .header-component{
        height: 1318px;
    }

    .portait-and-spans{
        flex-direction: column-reverse;
        align-items: center;
    }

    .div-portait{
        margin-top: -200px;
    }

    .portait{
        margin-top: 200px;
    }

    .spans{
        color: white;
        margin-bottom: 50px;
        margin-top: 150px;
    }

    .ellipse-small{
        top: 1215px !important;
    }
}