<div id="header" class="header-component">
    <app-navbar></app-navbar>
    <div class="burger-menu-when-closed">
        <img class="logo-img" src="assets/img/logo/logo_white.png" alt="">
        <img (click)="openMenu(); doNotCloseMenu($event)"  class="menu-img" src="assets/img/buttons/burger-menu.png" alt="">
    </div>
    <app-burger-menu (click)="doNotCloseMenu($event)" id="burger-menu" class="app-burger-menu-closed"></app-burger-menu>
    <div class="dflex">
        <div class="portait-and-spans">
            <div class="div-portait">
                <img class="portait" src="assets/img/portaits/portrait1.png">
                <img class="ellipse-big" src="assets/img/ellipse.png">
            </div>
            <div class="spans">
                <span id="header-span1" class="name montserrat">Hello! I am Jan</span>
                <span id="header-span2" class="job baloo">Frontend</span>
                <span id="header-span3" class="job baloo">Developer</span>
            </div>
        </div>
        
        <div class="links">
            <div class="links-hover" onclick="window.open('https://github.com/JanFromTheBlock', '_blank');">
                <a><img href="https://github.com/JanFromTheBlock" src="assets/img/buttons/github.png"></a>
            </div>
            <div class="links-hover" onclick="window.location='#contact';">
                <a><img src="assets/img/buttons/mail.png"></a>
            </div>
            <div class="links-hover" onclick="window.open('https://www.linkedin.com/in/jan-borcholt/', '_blank');">
                <a><img src="assets/img/buttons/linkedIn.png"></a>
            </div>
        </div>
    </div>
   
    <img class="ellipse-small" src="assets/img/ellipse.png">
</div>