html, body {
    margin: 0;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/fonts/montserrat.ttf') format('truetype'); 
}  
@font-face {
    font-family: 'baloo';
    src: url('./assets/fonts/baloo.ttf') format('truetype'); 
}  

.montserrat{
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.baloo{
    font-family: 'baloo', Arial, Helvetica, sans-serif;
}

.button{
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    color: #57E8A2;
    border: 2px solid #57E8A2; 
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 24px;
    background-color: white;
    max-width: 254px;
    box-shadow: 5px 5px 5px 0 rgba($color: #000000, $alpha: 0.15);
 }
