html,
body {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/fonts/montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'baloo';
    src: url('./assets/fonts/baloo.ttf') format('truetype');
}

.montserrat {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.baloo {
    font-family: 'baloo', Arial, Helvetica, sans-serif;
}

.div-button {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: start;
}

#language-img{
    height: 40px;
    width: auto;
}

.privacy-policy{
    color: #00bc8f;
    width: 105px;
    margin-left: 5px;

    &:hover {
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;
    }
}

.justi-end {
    justify-content: end;
}

.justi-cent {
    justify-content: center;
    width: 100% !important;
}

@media (max-width: 900px){
    .div-button{
        justify-content: center !important;
    }
}

@media (max-width: 900px){
    .button{
        padding: 10px 15px !important;
        font-size: 20px !important;
    }
}