html,
body {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/fonts/montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'baloo';
    src: url('./assets/fonts/baloo.ttf') format('truetype');
}

.montserrat {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.baloo {
    font-family: 'baloo', Arial, Helvetica, sans-serif;
}



.button {
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    color: #57E8A2;
    border: 2px solid #57E8A2;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 24px;
    background-color: white;
    max-width: 261px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
    animation-name: button-hover;
    animation-duration: 1s;

    //&:hover {
    //    padding: 20px 40px;
    //    color: white;
    //    background: radial-gradient(#57E8A2, #33B476);
    //    max-width: 281px;
    //}
}

.div-button {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: start;
}

.justi-end {
    justify-content: end;
}

.justi-cent {
    justify-content: center;
    width: 100% !important;
}

@media (max-width: 900px){
    .div-button{
        justify-content: center !important;
    }
}

@media (max-width: 900px){
    .button{
        padding: 10px 15px;
        font-size: 20px;
    }
}