.skill-set {
    background-image: linear-gradient(to bottom right, #57E8A2, #33B476);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    >span {
        font-size: 96px;
        margin: 100px 0 60px 0;
    }
}

.skill-logos {
    display: flex;
    column-gap: 128px;
    row-gap: 76px;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    margin: 0 100px 100px 100px;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.logo {
    width: 86px;
    text-align: center;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    &:hover {
        gap: 10px;
        font-weight: 800;
    }
}

img {
    max-height: 86px;
}

@media (max-width: 900px) {
    .logo {
        max-height: 75px;
        max-width: 70px;
        justify-content: center;
        align-items: center;
    }

    .skill-logos{
        column-gap: 80px;
        row-gap: 57px;
    }

    .skill-set{
        >span{
        margin: 50px 0 35px 0;
        font-size: 78px;
        }
    }
}

@media (max-width: 600px){
    .skill-set{
        >span{
            font-size: 64px;
        }
    }

    .skill-logos{
        margin: 0 10px 100px 10px;
    }


}