.skill-set{
    background-image: linear-gradient(to bottom right, #57E8A2, #33B476);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
        >span{
            font-size: 96px;  
            margin: 100px 0 60px 0;
        }
}

.skill-logos{
    display: flex;
    column-gap: 128px;
    row-gap: 76px;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    margin: 0 100px 100px 100px;
}
.title{
   text-align: center;
   margin-top: 10px;
}

.logo{
    width: 86px;
    text-align: center;
}