app-navbar {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ellipse-big {
    width: 792px;
    height: 792px;
    position: absolute;
    z-index: -1;
    top: -150px;
    left: calc(20% - 446px);
    ;
}

.div-impressum {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 430px);
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.burger-menu-when-closed {
    z-index: 100;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-between;
    margin: 37px 25px;
    align-items: center;
}

.logo-img {
    height: 69px;
    width: auto;
}

.menu-img {
    width: 28px;
    height: auto;

    &:hover {
        cursor: pointer;
    }
}



@media(max-width: 1500px) {
    .ellipse-big {
        left: calc(50% - 446px);
    }
}

@media(max-width: 900px) {
    app-navbar {
        display: none;
    }

    .burger-menu-when-closed{
        display: flex;
    }

    app-burger-menu {
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background: linear-gradient(#FFFFFF, #D7FFEC);
        padding: 37px 25px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 0px;
        transition: right 1s ease;
    }

    .app-burger-menu-closed{
        right: -1000px;
    }
}

@media(max-width: 750px){
    .ellipse-big{
        left: calc(-10% - 446px);
        top: -100px;
    }
}

@media (max-height: 1000px){
    .ellipse-big{
        width: unset;
        height: unset;
    }

    .div-impressum{
        min-height: 500px;
    }
}