app-navbar {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1800px;
}

.ellipse-big {
    width: 396px;
    height: 396px;
    position: absolute;
    z-index: -1;
    top: -150px;
    left: calc(20% - 446px);
    ;
}

.privacy-policy {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    max-width: 1800px;
}

.burger-menu-when-closed {
    z-index: 100;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-between;
    margin: 37px 25px;
    align-items: center;
}

.logo-img {
    height: 69px;
    width: auto;
}

.menu-img {
    width: 28px;
    height: auto;

    &:hover {
        cursor: pointer;
    }
}

.text-align-start{
    text-align: start;
}



@media(max-width: 1500px) {
    .ellipse-big {
        display: none;
    }

    app-navbar{
        background-image: linear-gradient(to bottom right, #57E8A2, #33B476);
    }
}

@media(max-width: 900px){
.privacy-policy{
    margin-right: 10px;
    margin-left: 10px;
}
app-navbar{
    display: none;
}

.burger-menu-when-closed{
    display: flex;
}

app-burger-menu {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    background: linear-gradient(#FFFFFF, #D7FFEC);
    padding: 37px 25px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    transition: right 1s ease;
}

.app-burger-menu-closed{
    right: -600px;
}

}

@media(max-width: 600px){
    h1{
        font-size: 28px;
    }

    h1{
        font-size: 24px;
    }

    h3{
        font-size: 20px;
    }

    app-burger-menu{
        width: 100%;
    }
}

@media(max-width: 500px){
    .link{
        max-width: 300px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        margin-right: 10px;
        margin-left: 10px;
    }
}