form {
    display: flex;
    gap: 35px;
    flex-direction: column;
    font-weight: 400;
    
    >input{
        border-radius: 10px;
        border: 1px solid #57e8a2;
        padding: 15px 25px;
        font-size: 16px;
        background-size: 30px;

        &:hover{
            border: 3px solid #57e8a2;;
            margin-bottom: -2px;
        }

        &:focus{
            outline: 3px solid #57e8a2 !important;

            &:hover{
                border: 1px solid #57e8a2;;
            }

            &:invalid{
                background: url(./../../../../../assets/img/wrong_input.png) no-repeat scroll 95% 50%;
            }

            &::placeholder{
                color: transparent;
            }
        }

        &:valid{
            background: url(./../../../../../assets/img/right_input.png) no-repeat scroll 95% 50%;
        }
    }

    >textarea{
        border-radius: 10px;
        border: 1px solid #57e8a2;
        padding: 15px 25px;
        font-size: 16px;
        background-size: 30px;

        &:hover{
            border: 3px solid #57e8a2;;
            margin-bottom: -2px;
        }

        &:focus{
            outline: 3px solid #57e8a2 !important;

            &:hover{
                border: 1px solid #57e8a2;;
            }

            &:invalid{
                background: url(./../../../../../assets/img/wrong_input.png) no-repeat scroll 95% 5%;
            }

            &::placeholder{
                color: transparent;
            }
        }

        &:valid{
            background: url(./../../../../../assets/img/right_input.png) no-repeat scroll 95% 5%;
        }
    }

    >button{
        margin-left: calc(50% - 127px);
    }

}

.button {
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    color: #57E8A2;
    border: 2px solid #57E8A2;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 24px;
    background-color: white;
    max-width: 261px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);

    &:enabled:hover {
        padding: 20px 40px;
        color: white;
        background: radial-gradient(#57E8A2, #33B476);
        max-width: 281px;
        animation-name: button-hover;
        animation-duration: 1s;
    }

    
}

@keyframes button-hover {
    0% {
        color: #57E8A2;
        padding: 12px 30px;
        max-width: 261px;
        background: white;
    }

    33% {
        color: white;
        padding: 16px 28px;
        max-width: 275px;
        background: linear-gradient(
            to bottom,
            #57E8A2 100%,
            #33B476 33%,
          )
    }

    66% {
        color: white;
        padding: 20px 40px;
        max-width: 281px;
        background: radial-gradient(#57E8A2, #33B476);
    }

    100% {
        color: white;
        padding: 20px 40px;
        max-width: 281px;
        background: radial-gradient(#57E8A2, #33B476);
    }
}

a{
    text-decoration: none;
}

#sendMailResponse{
    position: fixed;
    z-index: 200;
    top: 25%;
    left: calc(50% - 244px);
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background: white;
    border: 1px solid #57E8A2;
    padding: 100px 100px;
    border-radius: 20px;
    color: black;
    font-weight: 800;
}
.button-div-window{
    width: 100px;
    height: 70px;
}

.d-none{
    display: none !important;
}



.checkbox-area{
    font-size: 14px;
    display: flex;
    align-items: center;

    
    
    >input[type="checkbox"]{
        margin-right: 8px;
        width: 24px;
        height: 24px;
        accent-color: white;
        outline: 1px solid rgba(87, 232, 162, 1);
        mix-blend-mode: multiply;
        


        &:hover{
            filter: contrast(0.8);
        } 

        &:focus:invalid{
            outline: 5px solid red;
        }
        
    }
}

.privacy-policy{
    color: #00bc8f;
    width: 105px;
    margin-left: 5px;

    &:hover{
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;
    }
}

.nowrap{
    white-space: nowrap;
}