<form class="montserrat" (submit)="sendMail()" #myForm="ngForm">

    <input [disabled]="isSending" placeholder="Your name" required type="text" ngModel #name="ngModel" name="name">

    <input [disabled]="isSending" placeholder="Your email" required type="email" ngModel #mail="ngModel" name="mail">

    <textarea [disabled]="isSending" placeholder="Your message" required name="message" type="text" rows="11" ngModel
        #messageField="ngModel"></textarea>

    <div class="checkbox-area">
        <input [disabled]="isSending" type="checkbox" required ngModel #checkbox="ngModel" name="checkbox">
        <div id="formular-text">
            I've read the <a routerLink="/privacy-policy"><span class="privacy-policy">privacy policy</span></a> and
            agree to the processing of my data as outlined
        </div>
    </div>

    <div class="div-button justi-cent">
        <button id="button-contact" type="submit" class="button" [disabled]="!myForm.valid" #sendButton>Say hello</button>
    </div>
</form>

<div class=" montserrat d-none" id="sendMailResponse">
    <div class="d-none" id="error">The email sending failed</div>
    <div class="d-none" id="succes">The email was sent successfully</div>
    <div class="button-div-window">
        <button (click)="closeDialog()"  class="button">ok</button>
    </div>
</div>
<img class="work-ellipse2" src="assets/img/ellipse.png">
<div (click)="closeDialog()" id="background-senMailResponse" class="d-none"></div>