<div class="dflex" id="my-work">
    <div class="my-work">
        <div class="head">
            <div class=" title baloo">My work</div>
            <span class="montserrat">This page is a sample of my work - please feel free to try them out</span>
        </div>
        <div class="example-area">
            <div class="examples margin-left">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://janborcholt.de/projects/El_Pollo_Loco/index.html">
                    <div class="flex-img">
                        <img src="assets/img/screenshots/startscreen_2.png">
                    </div>
                </a>
                <div class="text">
                    <h1 class="baloo">Pollo Loco</h1>
                    <h2 class="montserrat">JavaScript | HTML | CSS</h2>
                    <span class="montserrat">Jump, run and throw game based on object-oriented approach.
                        Help Pepe to find coins and tabasco slasa to fight against the crazy hen.
                    </span>
                    <div class="button-area">
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/JanFromTheBlock/El_Pollo_Loco">
                            <div class="div-button">
                                <button class="button">Github</button>
                            </div>
                        </a>
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://janborcholt.de/projects/El_Pollo_Loco/index.html">
                            <div class="div-button div-mobile-btn">
                                <button class="button mobile-btn">Live-Test</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="examples margin-right">

                <div class="text text-end">
                    <h1 class="baloo">Join</h1>
                    <h2 class="montserrat">JavaScript | HTML | CSS</h2>
                    <span class="montserrat">Task manager inspired by the Kanban System. Create and organize tasks using
                        drag and drop functions, assign users and categories
                    </span>
                    <div class="button-area">
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/AndreasHenner/Join624">
                            <div class="div-button justi-end">
                                <button class="button">Github</button>
                            </div>
                        </a>
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://janborcholt.de/projects/Join624/board.html">
                            <div class="div-button div-mobile-btn">
                                <button class="button mobile-btn">Live-Test</button>
                            </div>
                        </a>
                    </div>
                </div>
                <a target="_blank" rel="noopener noreferrer" href="https://janborcholt.de/projects/Join624/board.html">
                    <div class="flex-img">
                        <img src="assets/img/screenshots/join.PNG">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<app-contact-form></app-contact-form>