a {
    text-decoration: none;
}

.title {
    font-size: 120px;
    color: #57e8a2;
}

.d-none{
    display: none !important;
}

.button {
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    color: #57E8A2;
    border: 2px solid #57E8A2;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 24px;
    background-color: white;
    max-width: 261px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
        padding: 20px 40px;
        color: white;
        background: radial-gradient(#57E8A2, #33B476);
        max-width: 281px;
        animation-name: button-hover;
        animation-duration: 1s;
        cursor: pointer;
    }
}

@keyframes button-hover {
    0% {
        color: #57E8A2;
        padding: 12px 30px;
        max-width: 261px;
        background: white;
    }

    33% {
        color: white;
        padding: 16px 28px;
        max-width: 275px;
        background: linear-gradient(to bottom,
                #57E8A2 100%,
                #33B476 33%,
            )
    }

    66% {
        color: white;
        padding: 20px 40px;
        max-width: 281px;
        background: radial-gradient(#57E8A2, #33B476);
    }

    100% {
        color: white;
        padding: 20px 40px;
        max-width: 281px;
        background: radial-gradient(#57E8A2, #33B476);
    }
}

.head {
    max-width: 550px;
    display: flex;
    flex-direction: column;

    >span {
        font-size: 24px;
    }

}

.example-area {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    gap: 72px;
}

.examples {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex-img {
    padding-top: 20px;
    height: 460px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: end;
    transition-property: align-items;


    >img {
        width: 620px;
        height: 393px;
        box-shadow: 5px 5px 15px 0 rgba($color: #000000, $alpha: 0.15);
        pointer-events: auto;
    }
}

.my-work {
    padding: 100px;
    max-width: 1800px;
}

.text {
    max-width: 532px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    >h1 {
        font-size: 45px;
        font-weight: 400;
        color: #57e8a2;
        margin: 0;
    }

    >h2 {
        margin: 0;
        font-weight: 400;
        font-size: 23px;
        color: #57e8a2;
        margin-bottom: 15px;
    }

    >span {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 35px;
    }

    >button {
        width: 135px;
    }
}

.margin-left {
    margin-left: -50px;
}

.margin-right {
    margin-left: 50px;
}

.text-end {
    text-align: end;
    align-items: end;
}

.dflex {
    display: flex;
    justify-content: center;
}

.button-area {
    display: flex;
}

.div-mobile-btn {
    display: none;
    justify-content: flex-end;
}

.mobile-btn {
    color: white !important;
    background-color: #57e8a2 !important;
}

.div-button-all {
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
}

.div-button-javascript {
    height: 70px;
    width: 195px;
    display: flex;
    justify-content: center;
}

.div-button-angular {
    height: 70px;
    width: 170px;
    display: flex;
    justify-content: center;
}

.div-button-firebase {
    height: 70px;
    width: 175px;
    display: flex;
    justify-content: center;
}

.filter-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 150px;
}

.active {
    padding: 20px 40px;
    color: white;
    background: radial-gradient(#57E8A2, #33B476);
    max-width: 281px;
}

@media (max-width: 1500px) {
    .my-work {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }

    .examples {
        flex-direction: column;
        align-items: center;
    }

    .margin-left {
        margin-left: 0;
    }

    .margin-right {
        flex-direction: column-reverse !important;
        margin-left: 0;
    }

    .text {
        margin-top: 45px;
        text-align: center;
        gap: 20px;
        align-items: unset;
    }

    .div-mobile-btn {
        display: flex;
    }

    .justi-end {
        justify-content: flex-start;
    }

}

@media (min-width: 900px) {
    .flex-img:hover {
        align-items: start;
        transition-duration: 500ms;

        >img {
            align-items: start;
            transform: scale(1.1, 1.1);
            transition-duration: 500ms;
        }
    }
}

@media (max-width: 900px) {
    .flex-img {
        height: unset;
        width: unset;

        >img {
            width: 90%;
            aspect-ratio: 620/393;
            height: auto;
        }
    }

    .head {
        width: 90%;
    }

    .text {
        width: 90%;
    }

    .my-work {
        padding: 0;
    }

    .title {
        font-size: 100px;
    }

    .filter-buttons {
        flex-wrap: wrap;
        row-gap: 40px;

        >div {
            width: 50%;
        }
    }

}

@media (max-width: 600px) {

    .filter-buttons{
        margin-top: 50px;
    }

    .title {
        font-size: 64px;
    }

    .div-button{
        width: 140px;
    }

    .head {
        max-width: 300px;
        margin: 0 10px 40px 10px;

        >span {
            font-size: 16px;
        }
    }

    .flex-img {
        max-width: 320px;
    }

    .text {
        max-width: 300px;
        margin: 45px 10px 0 10px;
    }


}