<div class="footer">
    <img class="logo" src="./../../../assets/img/logo.png">
        <span class="montserrat margin-right">© Jan Borcholt 2024</span>
    <div class="footer-imgs">
        <div class="div-button-white">
            <img class="button-white" src="./../../../assets/img/buttons/github_white.png">
        </div>
        <div class="div-button-white">
            <img  class="button-white" src="./../../../assets/img/buttons/email_white.png">
        </div>
        <div class="div-button-white">
            <img  class="button-white" src="./../../../assets/img/buttons/linkedin_white.png">
        </div>
    </div>
</div>
<span class="montserrat impressum">Impressum</span>
