<div class="footer">
    <img class="logo" src="./../../../assets/img/logo.png">
        <span class="montserrat margin-right">© Jan Borcholt 2024</span>
    <div class="footer-imgs">
        <div class="div-button-white">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/JanFromTheBlock"><img class="button-white" src="./../../../assets/img/buttons/github_white.png"></a>
        </div>
        <div class="div-button-white">
            <a href="#contact"><img  class="button-white" src="./../../../assets/img/buttons/email_white.png"></a>
        </div>
        <div class="div-button-white">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jan-borcholt-ba5129222/"><img  class="button-white" src="./../../../assets/img/buttons/linkedin_white.png"></a>
            
        </div>
    </div>
</div>
<span class="montserrat impressum">Impressum</span>
