.footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1800px;
    align-items: center;
}

.footer-imgs{
    display: flex;
    gap: 42px;
}
.margin-right{
    margin-right: -110px;
}

.button-white:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.logo:hover{
    cursor: pointer;
}

.impressum{
    position: relative;
    display: block;
}

.impressum::after{
    content: "";
    position: absolute;
    left: calc(50% - 28.5px);
    bottom: -6px;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease;
}

.impressum:hover::after{
    width: 60%;
}

a{
    text-decoration: none;
    color: unset;
}

@media (max-width: 1500px) {
    .margin-right{
        margin-right: 0;
    }

    .impressum{
        margin-left: -100px;
    }
}

@media (max-width: 900px){
    .footer{
        flex-direction: column;
        align-items: center;
        gap: 23px;
    }

    .impressum{
        margin-left: 0;
        margin-top: 23px;
    }
}