<div class="dflex">
    <div class="contact-section">
        <h1 class="baloo">Contact</h1>
        <div class="content">
            <div class="contact-text">
                <span class="montserrat span1">Got a problem to solve?</span>
                <span class="montserrat span2">Contact me through this form, I am interested in hearing you, knowing
                    your ideas and contributing to your projects with my work</span>
                <span class="montserrat span3">Need a Frontend Developer? <b>Contact me!</b></span>
            </div>
            <app-formular></app-formular>
        </div>
        <img class="up-button" src="./../../../../assets/img/buttons/up_button.png" >
    </div>
</div>