.contact-section{
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    margin: 0 100px 50px 100px;
}

h1{
    font-weight: 400;
    font-size: 92px;
    color: #57E8A2;
}

.contact-text{
    display: flex;
    flex-direction: column;
    width: calc(50% - 100px);
}

.span1{
    font-weight: 700;
    font-size: 32px;
    color: #57E8A2;
}

.span2{
    font-weight: 400;
    font-size: 16px;
    margin: 35px 0 25px 0;
}

.span3{
    font-weight: 400;
    font-size: 16px;
    color: #57E8A2;
}

.content{
    display: flex;
    gap: 150px;
    max-width: 1300px;
}

app-formular{
    width: 50%;
}

.dflex{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#FFFFFF, #D7FFEC);
}


img{
  height: 40px;
  width: 40px;
  margin-top: 12px;  
}

.up-button:hover{
    content: url('./../../../../assets/img/buttons/up_button_white.png');
}