.about-me {
    margin: 240px 100px;
    max-width: 1800px;
}

.bubble{
    height: 82px;
    width: 82px;
}

@keyframes button-hover {
    0% {
        color: #57E8A2;
        padding: 15px 30px;
        max-width: 261px;
        background-color: white;
    }

    33% {
        color: white;
        padding: 14px 37px;
        max-width: 275px;
        background-color: radial-gradient(#57E8A2 100%, #33B476 100%, #FFFFFF 100%, #FFFFFF 0%, #FFFFFF 0%);
    }

    66% {
        color: white;
        padding: 16px 40px;
        max-width: 281px;
        background-color: white;
    }

    100% {
        color: white;
        padding: 17px 40px;
        max-width: 281px;
        background: radial-gradient(#57E8A2, #33B476);
    }
}

.title{
    font-size: 120px; 
    color: #57e8a2;
    width: 600px;
    line-height: 1;
 }

 .text{
    width: 570px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
 }

 .information{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 75px;
 }
 
 .div-bubble{
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: flex-end;
    margin: 50px 150px 0 100px;
 }

 @media (max-width: 1500px) {
    .about-me{
        margin: 0 0 100px 0;
    }

    .information{
        flex-direction: column;
    }
 }

 @media (max-width: 900px){
    .title{
        font-size: 100px;
        width: 500px;
        margin: 0 25px;
    }

    .text{
        margin: 0 25px;
        width: 500px;
    }

    .information{
        margin-top: 44px;
    }
 }

 